@import '../../styles/variables.scss';
.buttonRed {
  background-color: $red;
  border-radius: 10px;
  border: none;
  padding: 10px 0px;
  color: white;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
}
.buttonGreen {
  background-color: green;
  border-radius: 10px;
  border: none;
  padding: 10px 0px;
  color: white;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
}
