@import '../../styles/variables.scss';
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: center;

  border-radius: 10px;
  h1 {
    font-size: 34px;
    color: $black;
  }
}
.categorie__selary {
  position: relative;
  border-radius: 10px;
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  &:hover .categorie__selary__buttonGroup {
    display: block;
  }

  &:hover {
    .categorie__selary__buttonGroup {
      display: flex;
      gap: 5px;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  .categorie__selary__buttonGroup {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    border-radius: 10px;
    min-width: 100%;
    background-color: rgb(206, 204, 204);

    padding: 7px 0;
    z-index: 2;
  }
}
.category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.conteiner-for-icon {
  background-color: black;
  width: 65px;
  height: 65px;
  padding: 5px;
  border-radius: 10px;
  img {
    width: 50px;
    height: 50px;
  }
}
.title-category {
  line-height: 1.5em;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.categorie__selary__icon {
  padding: 10px;
  background-color: $grey;
  border-radius: 10px;
  border: none;
}
