@import '../../styles/variables.scss';
.header {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  // background-color: $black;
  height: 38px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  margin: 0 auto;
  nav {
    width: 100%;
    ul {
      display: flex;
      gap: 20px;

      li {
        list-style-type: none;
      }
      li > a {
        color: black;
        text-decoration: none;
      }
      li a.active {
        font-weight: 900;
        color: $white;
        background: none;
      }
    }
  }
  & > a {
    display: flex;

    gap: 30px;
    align-items: center;
    .logo-img {
      width: 30px;
      height: 30px;
    }
  }
  .logo-title {
    font-weight: bolder;
  }
}
.header__link i {
  color: $black;
  font-size: 1.1rem;
  transition: all 1s ease;
}
a.active > i {
  color: red;
  font-size: 1.5rem;
  transition: all 1s ease;
}
.icon_link {
  width: 20px;
  transition: all 1s ease;
}
.icon_link {
  width: 20px;
  transition: all 1s ease;
}
.button__exit {
  background: none;
  border: none;
}
